<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="5804702e-cd9e-4f7c-a4ed-1b213a6ce715"
            Publisher="CN=Krishna"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>WinRT.Utilities.SampleApp</DisplayName>
    <PublisherDisplayName>Krishna</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>WinRT.Utilities.SampleApp</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="WinRT.Utilities.SampleApp.App">
        <VisualElements
            DisplayName="WinRT.Utilities.SampleApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="WinRT.Utilities.SampleApp"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>